<%- include('partials/head') %> <%- include('partials/nav') %>

<div id="wholePage" class="container w=75 p-4">
  <h2 class="text-center">Adoptable Dogs</h2>

  <div class="m-4">
    <ul class="pagination justify-content-center">
      <% if (page === 1) { %>
      <li class="page-item">
        <a
          id="previous"
          class="page-link disabled"
          href="<%-"
          (page
          -
          1).toString()%
          >>Previous</a
        >
      </li>
      <% } else { %>
      <li class="page-item">
        <a id="previous" class="page-link" href="<%-" (page - 1).toString()%
          >>Previous</a
        >
      </li>
      <% } %>
      <li class="page-item">
        <a id="next" class="page-link" href="<%-" (page + 1).toString()%
          >>Next</a
        >
      </li>
    </ul>
  </div>

  <% adoptableDogs.forEach((dog)=> { %>
  <div class="p-4">
    <div class="card text-center">
      <div class="card-header"><%- dog.name %></div>
      <div class="card-body">
        <p class="card-text"><%- dog.description %></p>
        <% if (dog.owner === userId) { %>
        <button href="#" id="<%-dog._id%">
          class="btn btn-primary">Remove Dog
        </button>
        <% } else { %>
        <button href="#" id="<%-dog._id%">class="btn btn-primary">Adopt</button>
        <% } %>
      </div>
    </div>
  </div>
  <% }); %>
</div>

<%- include('partials/foot') %>

<script>
  const page = document.getElementById("wholePage");

  page.addEventListener("click", async (e) => {
    const isButton = e.target.nodeName === "BUTTON";
    if (!isButton) {
      return;
    }

    if (e.target.innerHTML === "Adopt") {
      const dogId = e.target.id;

      window.location.replace(`/adopt/${dogId}`);
    }

    if (e.target.innerHTML === "Remove Dog") {
      const dogId = e.target.id;

      const res = await fetch("/delete", {
        method: "DELETE",
        body: JSON.stringify({ dogId }),
        headers: { "Content-Type": "application/json" },
      })
        .then((res) => window.location.replace("/adoptableDogs/1"))
        .catch((err) => console.log(err));
    }
  });
</script>
