<%- include('partials/head') %>
  <%- include('partials/nav') %>

    <div id="wholePage" class="container w=75 p-4">


      <h2 class="text-center">Your Dogs</h2>

    <div class="m-4">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link inactive" >Previous</a></li>
    <li class="page-item"><a class="page-link" href="2">2</a></li>
    <li class="page-item"><a class="page-link" href="3">3</a></li>
    <li class="page-item"><a class="page-link" href="4" >4</a></li>
    <li class="page-item"><a class="page-link">Next</a></li>
  </ul>
</div>

      <% yourDogs.forEach((dog)=> { %>
        <div class="p-4">
          <div class="card text-center">
            <div class="card-header">
              <%- dog.name %>
            </div>
            <div class="card-body">
              <p class="card-text"><%- dog.description %></p>
              <% if (dog.status === "adoptable") { %>
              <button href="#" id=<%-dog._id%> class="btn btn-primary">Remove Dog</button>
              <% } else { %>
             <p class="card-text"><b>Message from new owner: </b><br><%- dog.ownerMessage %></p>
              <% } %>
            </div>
          </div>
        </div>
        <% }); %>



    </div>

    <%- include('partials/foot') %>

    <script>

      //Pagination:

      const page = document.getElementById('wholePage');
      const pageLinks = document.getElementsByClassName('page-link');

          window.addEventListener('load', (e) => {
            const currentUrl = window.location.href;
            const split = currentUrl.split("Dogs/");
            const currentPage = split[1];
            const currentPageInt = parseInt(currentPage);

            if(currentPageInt > 1) {
          pageLinks[0].href = (currentPageInt - 1).toString();
           pageLinks[1].innerHTML = (currentPageInt + 1).toString();
          pageLinks[1].href = (currentPageInt + 1).toString();
           pageLinks[2].innerHTML = (currentPageInt + 2).toString();
           pageLinks[2].href=(currentPageInt + 2).toString();
           pageLinks[3].innerHTML = (currentPageInt + 3).toString();
           pageLinks[3].href = (currentPageInt + 3).toString();
           pageLinks[4].href = (currentPageInt + 4).toString();
            }

      })

      //Enable remove buttons:

      page.addEventListener("click", async (e) => {
        const isButton = e.target.nodeName === 'BUTTON';
        if (!isButton) {
          return;
        }

      if (e.target.innerHTML === "Remove Dog"){
        const dogId = e.target.id;

        const res = await fetch('/delete', {
          method: 'DELETE',
          body: JSON.stringify({dogId}),
          headers: {'Content-Type': 'application/json'}
        })
        .then(res=> window.location.replace('/yourDogs/1'))
        .catch(err => console.log(err));
      }

      })
      
   
  


    </script>